.app {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.input {
  font-size: 24px;
  padding: 1em;
  flex-basis: 100%;
}
.qr {
  width: 400px;
  flex-basis: 100%;
}
.qr svg {
  width: 50%;
}
